{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
          {% for video in video_list %} 
            <div class="col-4">
                <a href="{% url 'video' video.id %}"><img width="300" height="200" src="{{ video.image.url }}" alt=""></a>
                <p><bold><a href="{% url 'video' video.id %}">{{ video.title }}</a></bold></p>
                <p>Author: {{ video.author }}</p>
                <p>Views: {{ video.views }}</p>
                <p>Post Date: {{ video.create_at }}</p>
            </div>
          {% endfor %}
        </div>
    </div>
{% endblock content %}