{% extends 'base.html' %}
{% block content %}
  <div class="main-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <video
              id="my-video"
              class="video-js"
              controls
              preload="auto"
              width="600"
              height="300"
              data-setup="{}"
          >
            <source src="{% url 'stream' video.id %}" type="video/mp4"/>
            <source src="{% url 'stream' video.id %}" type="video/webm"/>
          </video>
          <div class="video-views">
            <span class="video-views__text">Views: </span>
            <span class="video-views__count">{{ video.views }}</span>
            <span class="likes video-views__text">Likes: </span>
            <span class="likes video-views__count">{{ video.total_likes }}</span>
            <span class="dislikes video-views__text">Dislikes: </span>
            <span class="dislikes video-views__count">{{ video.total_dislikes }}</span>
          </div>
          {% if user.is_authenticated %} 
          <form action="{% url 'like_video' video.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="video_id" value="{{ video.id }}" class="btn btn-pramary btn-sm">&#128077;</button> 
          </form>
          <form action="{% url 'dislike_video' video.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="video_id" value="{{ video.id }}" class="btn btn-pramary btn-sm">&#128078;</button> 
          </form>
          {% else %}
            <p>You should log in to like and dislike video</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="comment-form">
            <form action="{% url 'post_comment' video.id %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Post comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="comment-form">
            <p>You need to be logged in to post a comment</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <!-- Show comments and separate different comments with border -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="comments">
          {% for comment in comments %}
            <div class="comment">
              <div class="comment__author">
                <span class="comment__author-name">{{ comment.author }}</span>
                <span class="comment__author-date">{{ comment.created_on }}</span>
              </div>
              <div class="comment__text">
                {{ comment.text }}
              </div>
            </div>
            <hr>
          {% endfor %}
        </div>
      </div>
    </div>

{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% else %}
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'register' %}">Register</a>
{% endif %}
{% endblock content %}


