{% extends 'base.html' %}

{% block content %}
  <div class="main-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <video
              id="my-video"
              class="video-js"
              controls
              preload="auto"
              width="1000"
              height="800"
              data-setup="{}"
          >
            <source src="{% url 'stream' video.id %}" type="video/mp4"/>
            <source src="{% url 'stream' video.id %}" type="video/webm"/>
          </video>
          <div class="video-views">
            <span class="video-views__text">Views: </span>
            <span class="video-views__count">{{ video.views }}</span>
          </div>
          <div class="video-likes">
            <div class="video-likes__like">
              <i class="fa fa-thumbs-up"></i>
              <span class="video-likes__count">{{ video.likes_percentage }}%</span>
            </div>
            <div class="video-likes__dislike">
              <i class="fa fa-thumbs-down"></i>
              <span class="video-likes__count">{{ video.dislikes_percentage }}%</span>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
