{% block content %}
  <div class="main-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <video
              id="my-video"
              class="video-js"
              controls
              preload="auto"
              width="600"
              height="300"
              data-setup="{}"
          >
            <source src="{% url 'stream' video.id %}" type="video/mp4"/>
            <source src="{% url 'stream' video.id %}" type="video/webm"/>
          </video>
          <div class="video-views">
            <span class="video-views__text">Views: </span>
            <span class="video-views__count">{{ video.views }}</span>
          </div>
          <div class="video-likes">
            <div class="video-likes__like">
              <i class="fa fa-thumbs-up"></i>
              <span class="video-likes__count">{{ video.likes_percentage }}%</span>
            </div>
            <div class="video-likes__dislike">
              <i class="fa fa-thumbs-down"></i>
              <span class="video-likes__count">{{ video.dislikes_percentage }}%</span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comments">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="comments__title">
            <h3>Comments</h3>
          </div>
          <div class="comments__list">
            {% for comment in comments %}
              <div class="comments__item">
                <div class="comments__item__content">
                  <div class="comments__item__content__text">
                    {{ comment.text }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="comments__form">
            <form action="{% url 'add_comment' video.id %}" method="post">
              {% csrf_token %}
              <div class="comments__form__title">
                <h3>Add comment</h3>
              </div>
              <div class="comments__form__input">
                <textarea name="text" id="text" cols="30" rows="10"></textarea>
              </div>
              <div class="comments__form__button">
                <button type="submit">Add comment</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block user %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'register' %}">Register</a>
{% endif %}
{% endblock user %}


